.dropdownAccountLinks{
    display: none;
}


#accountDropdown:hover .dropdownAccountLinks{
    display: block;
    position: absolute;
    background-color: skyblue;
    padding:10px;
    border-radius: 20px;
    margin-top: 0px;
    border: 2px solid white;
}

.dropdownAccountLinks a{
    color: white;
    display: block;
    font-size: 16px;
}

.dropdownHelpLinks{
    display: none;
}


#helpDropdown:hover .dropdownHelpLinks{
    display: block;
    position: absolute;
    background-color: skyblue;
    padding:10px;
    border-radius: 20px;
    margin-top: 0px;
    border: 2px solid white;
    right: 20%;
}

.dropdownHelpLinks a{
    color: white;
    display: block;
    font-size: 16px;
}