#registerForm{
    background-color: skyblue;
    border-radius: 25px;
    border: solid white;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 35%;
}

#formContent{
    padding: 20px;
    position: relative;
    left: 15%;
    /*top: 5%;*/
}

#contactForm{
    background-color: skyblue;
    border-radius: 25px;
    border: solid white;
    margin-top: 100px;
    width: 400px;
    height: 400px;
    position: relative;
    top: 30%;
    left: 35%;
}

#contactFormcontent{
    padding: 20px;
    position: relative;
    left: 15%;
    top: -5%;
}

#contactParagraph{
    padding: 10px;
}

#resetForm{
    background-color: skyblue;
    border-radius: 25px;
    border: solid white;
    width: 300px;
    height: 250px;
    position: absolute;
    top: 30%;
    left: 35%;
}

#loginForm{
    background-color: skyblue;
    border-radius: 25px;
    border: solid white;
    width: 300px;
    height: 250px;
    position: absolute;
    top: 30%;
    left: 35%;
}


#loginFormContent{
    padding: 20px;
    position: relative;
    left: 15%;
    /*top: 5%;*/
}