#masterProfileDiv{
    margin-top: 100px;
}

.profileContainer {
    display: inline-grid;
    position: absolute;
    left: 30%;
    top: 0%;
    color:white;
    border: solid white;
    background-color: skyblue;
    padding: 25px;
    width: 40%;
    margin-top: 100px;
    margin-right: 10px;
}